version: '2.4'

services:
  app:
    image: git.smkid.dk:5050/harcker/voteserver:main
    restart: always
    build:
      context: .
    ports:
      - '8080:8080'
    # user: '0' # uncomment to run as root for testing purposes even though Dockerfile defines 'vapor' user.
    command: ["serve", "--env", "production", "--hostname", "0.0.0.0", "--port", "8080"]
    networks:
      - vote
      - proxy

    depends_on:
      - proxy-ssl

    stdin_open: true
    tty: true
    environment:
     - LOG_LEVEL=info
     - VIRTUAL_HOST=${VIRTUAL_HOST}
     - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
     - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
     - maxNameLength=${maxNameLength-100}
     - joinPhraseLength=${joinPhraseLength-6}
     - maxChatLength=${maxChatLength-1000}
     - chatQueryLimit=${chatQueryLimit-100}
     - chatRateLimitingSeconds=${chatRateLimitingSeconds-10.0}
     - chatRateLimitingMessages=${chatRateLimitingMessages-10}
     - defaultValueForUnverifiedConstituents=${defaultValueForUnverifiedConstituents-false}
     - enableChat=${enableChat-true}
     - adminProfilePicture=${adminProfilePicture-"/img/icon.png"}
     

  ###################
  ## - Proxy
  ###################
  proxy:
    # Reverse Proxy for exposing services to the WWW.
    
    image: nginxproxy/nginx-proxy
    container_name: proxy
    restart: unless-stopped
    
    volumes:
      - /opt/conf:/etc/nginx/conf.d
      - /opt/vhost:/etc/nginx/vhost.d
      - /opt/html:/usr/share/nginx/html
      - /opt/dhparam:/etc/nginx/dhparam
      - /opt/certs:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro

    environment:
      - TZ=Europe/Amsterdam
    
    networks:
      - proxy
 
    ports:
      - '80:80'
      - '443:443'
  
  proxy-ssl:
    # SSL Automator for nginx-proxy. Auto-detects container's SSL Needs.
    
    image: nginxproxy/acme-companion
    container_name: proxy-ssl
    restart: unless-stopped
    
    volumes_from:
      - proxy
    
    volumes:
      - /opt/certs:/etc/nginx/certs:rw
      - /opt/acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro

    environment:
      - TZ=Europe/Amsterdam
        
      - DEFAULT_EMAIL=admin@smkid.dk
    
    networks:
      - proxy-ssl
    
    depends_on:
      - proxy
  

networks:
  proxy:
  proxy-ssl:
  vote:

volumes:
  conf:
  vhost:
  html:
  dhparam:
  certs:
  acme:
