.button{
	text-decoration:none;
	border: none;
	color: black;
	margin: 5px 2px;
	padding: 5px 8px;
	border-radius: 10%;
}

.inlinebutton{
	text-decoration:none;
	border: none;
	color: black;
	margin: 0px 0px;
	padding: 2px 3px;
	border-radius: 10%;
}
.dot{
	height: 10px;
	width: 10px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
}

.green {
	background-color: #00DF00;
}

.red {
	background-color: #EE0000;
}

.blue {
	background-color: #0000F0;
	color: #FFFFFF;
}

.gray {
	background-color: 787878;
}

td, th {
	padding: 5px;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

.content {
	margin: 10px;
}

.header {
  position: sticky;
  display: flex;
  top: 0;
  background-image: linear-gradient(grey, black);
  margin: 0px;
  padding-left: 10px;
}

/* Based somewhat on https://www.w3schools.com/howto/howto_js_topnav.asp */
.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}
